.card {
    background-color: rgb(241, 210, 153);
    height: 100px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.card:nth-child(2) {
  background-color: black;
  margin-bottom: 300px;
}

.card strong {
  font-size: 18px;  
}
